.logo {
  display:inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
  padding: 0;
  margin: 20px;
}

.logo:hover {
  filter: drop-shadow(0 0 0.75rem rgb(202, 40, 252));
  transform: scale(1.1);
}