form {
  background-color: #fff;
  border-radius: 10px;
  gap: 30px;
  padding: 20px;
  font-size: 1.1rem;
  box-shadow: 3px 3px 5px lightgrey;
  width: 50%;
}

form, .fullName, .email, .phone, .location, .jobTitle, .summary {
  display: flex;
  flex-direction: column;
  text-align: start;
}

h1 {
  font-size: 1.5rem;
}

form input, textarea {
  border-radius: 5px;
  background-color: rgb(243, 242, 242);
  font-size: 1.1rem;
  outline: none;
}

form input:focus, textarea:focus {
  outline: none;
  border: 3px solid dodgerblue;
}

.show-social {
  display: flex;
  align-items: center;
  gap: 5px;
}

.show-social-icon:hover {
  cursor: pointer;
}

.github, .linkedIn, .whatsapp, .telegram, .website {
  display: flex;
  gap: 10px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.show-social {
  display: flex;
}

/* .social-links {
  display: none;
} */

.social-links input {
  width: 100%;
}

.show-social-open {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}