form {
  background-color: #fff;
  border-radius: 10px;
  gap: 30px;
  padding: 20px;
  font-size: 1.1rem;
  box-shadow: 3px 3px 5px lightgrey;
  width: 50%;
  margin-bottom: 30px;
}

form, .fullName, .email, .phone, .location, .jobTitle, .summary, .college, .degree
,.startDate, .endDate, .educationLocation, .company, .position, .work-description,
.workLocation {
  display: flex;
  flex-direction: column;
  text-align: start;
}

h1 {
  font-size: 1.5rem;
}

form input, textarea {
  border-radius: 5px;
  background-color: rgb(243, 242, 242);
  font-size: 1.1rem;
  outline: none;
}

form input:focus, textarea:focus{
  outline: none;
  border: 2px solid dodgerblue;
}

button{
  width: 35%;
  border: 1px solid black;
  margin: 0 auto;
}

.show-social-open:hover, .show-education, .show-experience,
.github-show, .whatsapp-show, .telegram-show, .website-show, .linkedIn-show {
  cursor: pointer;
}

.github, .linkedIn, .whatsapp, .telegram, .website {
  display: flex;
  gap: 10px;
}

.github-container, .linkedIn-container, .whatsapp-container, .telegram-container,
.website-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.show-social {
  display: flex;
}

.social-links input {
  width: 100%;
}

.show-social-open {
  margin-bottom: 10px;
}

.date {
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
  width: 100%;
}

.startDate > input, .endDate > input {
  width: 100%;
  box-sizing: border-box;
}

.startDate, .endDate {
  flex: 1;
}

.show-education, .show-social-open, .formTitle, .show-social, .show-experience  {
  display: flex;
  align-items: center;
  gap: 5px;
}

.show-education, .show-experience {
  width: max-content;
}

textarea {
  resize: none;
}