.logo {
  display:inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
  padding: 0;
  margin: 20px;
}

.logo:hover{
  transform: scale(1.1);
}

.clearButton {
  color: red;
  /* margin-right: 20px; */
}

.action-buttons {
  display: flex;
  width: 50%;
  gap: 20px;
}

.clearButton, .exampleButton {
  text-align: center;
  background-color: #fff;
  min-width: max-content;
  width: 10%;
  flex: 1;
  font-size: 1.25rem;
}

.clearIcon, .exampleIcon {
  margin-right: 5px;
}